.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
  margin: 144px 72px 0 72px;
}

section {
  display: flex;
  justify-content: space-between;
  gap: 64px;
}

article {
  display: flex;
  flex-direction: column;
  gap: 40px;
  > div {
    display: flex;
    flex-direction: column;
  }
}

.headline {
  gap: 20px;
  > h3 {
    font-family: "Karla-Medium";
    font-size: 24px;
    line-height: 28.06px;
    color: #3dcfb6;
  }
  > h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.03em;
    color: #3dcfb6;
  }
}

.about-me {
  gap: 16px;
  > h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    color: #3dcfb6;
  }
  > p {
    font-family: "Karla-Regular";
    font-size: 16px;
    line-height: 19.2px;
    color: #ffffff;
    > button {
      background-color: transparent;
      border: none;
      font-family: "Karla-Bold";
      font-size: 16px;
      line-height: 19.2px;
      color: #3dcfb6;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 616px;
  gap: 40px;
  flex-shrink: 0;
}

ul {
  list-style: none;
  padding: 0;
  > li {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #3dcfb680;
    border-bottom: 1px solid #3dcfb680;
    padding: 32px;
    gap: 16px;
    transition: border-color 0.3s ease;
    &:hover {
      border-top-color: #3dcfb6;
      border-bottom-color: #3dcfb6;
    }
    > label {
      font-size: 24px;
      font-weight: 500;
      line-height: 28.8px;
      color: #3dcfb6;
    }
    &:hover input::placeholder {
      color: #ffffff;
    }
  }
}

input {
  font-family: "Karla-Regular";
  font-size: 18px;
  line-height: 21.6px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  > ::placeholder {
    color: #ffffffcc;
  }
}

.privacy-policy {
  display: flex;
  flex-direction: column;
  gap: 16px;
  > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    > div {
      display: flex;
      align-items: center;
      gap: 8px;
      > img {
        width: 24px;
        height: 24px;
      }
    }
    > span {
      color: #e61c40;
      font-family: "Karla-Regular";
      font-size: 14px;
      line-height: 16.8px;
    }
  }
  > div:last-child {
    align-items: center;
  }
}

.privacy-policy-text {
  font-family: "Karla-Regular";
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  > a {
    font-family: "FiraCode";
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.03em;
    color: #3dcfb6;
    text-decoration: none;
    &:hover {
      color: #ffffff;
      cursor: pointer;
    }
  }
}

.btn {
  height: 48px;
  padding: 0 24px;
  background-color: transparent;
  font-family: "Karla-Regular";
  font-size: 18px;
  line-height: 21.6px;
  border-radius: 100px;
}

.btn-hello {
  cursor: pointer;
  border: 1px solid #ffffff;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  > span {
    transition: transform 0.5s ease; /* Initialer Zustand ohne Transformation */
  }
  &:hover {
    border: 1px solid #3dcfb6;
  }
  &:hover > span {
    color: #3dcfb6;
    display: inline-block;
    white-space: nowrap;
    animation: slideText 2.4s ease-in-out infinite;
  }
}

.btn-hello-disabled {
  border: 1px solid #ffffff80;
  color: #ffffff80;
}

.check-mark-checked {
  cursor: pointer;
  display: none;
  &:hover {
    background: #3dcfb64d;
    border-radius: 38px;
  }
}

.check-mark-unchecked {
  cursor: pointer;
  display: inline-block;
  &:hover {
    background: #3dcfb64d;
    border-radius: 38px;
  }
}

.error-message-shown {
  opacity: 1;
}

.error-message-hidden {
  opacity: 0;
}

@keyframes slideText {
  0% {
    transform: translateX(0);
  }
  25% {
    opacity: 1;
  }
  49% {
    transform: translateX(-120%);
  }
  51% {
    opacity: 0;
    transform: translateX(120%);
  }
  75% {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  section {
    flex-direction: column;
    align-items: center;
  }
  form {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .wrapper {
    margin: 144px 32px 0 32px;
  }

  .headline h1 {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.03em;
  }
}

@media (max-width: 400px) {
  .wrapper {
    margin: 144px 16px 0 16px;
  }

  article {
    gap: 32px;
  }

  .headline {
    gap: 16px;
    > h3 {
      font-size: 18px;
      line-height: 21.04px;
    }
  }

  .about-me h2 {
    font-size: 20px;
    line-height: 24px;
  }

  ul {
    > li {
      padding: 32px 16px;
      > label {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  input {
    font-size: 16px;
    line-height: 19.2px;
  }
}
