<section>
  <div class="profile-img">
    <img src="../../../assets/img/about-me-profile.jpg" alt="" />
  </div>
  <div class="about-me-box">
    <h2>Who I Am</h2>
    <div>
      <h1>About me</h1>
      <article>
        <p>
          Hi, I'm a german speaking Frontend Developer based in Freiberg.
          Motivated by the limitless opportunities within IT, I am excited about
          crafting visually captivation and intuitive websites and applicatios.
        </p>
        <div>
          <div>
            <img src="../../../assets/img/about-me-location.svg" alt="" />
            <p>
              Flexible in terms of working environments, I can work effectively
              both on-site in Freiberg and remotely.
            </p>
          </div>
          <div>
            <img src="../../../assets/img/about-me-ognition.svg" alt="" />
            <p>
              I am open-minded and always looking for personal challenges to
              constantly improve my knowledge and skills.
            </p>
          </div>
          <div>
            <img src="../../../assets/img/about-me-quality.svg" alt="" />
            <p>
              In my profession, programming isn't just about writing code; it's
              a creative form of problem-solving. I take pride in my ability to
              distill compley technical challenges into simple, user-friendly
              solutions. This way, I help you achieve your goals and bring your
              visions to life.
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
