<section>
  <app-header></app-header>
  <main>
    <app-title></app-title>
  </main>
  <!-- <footer>
    <div class="banner">
      <div class="text">
        <span>Available for remote work</span>
        <span class="dot"></span>
        <span>Frontend Developer</span>
        <span class="dot"></span>
        <span>Based in Freiberg</span>
        <span class="dot"></span>
        <span>Open to work</span>
        <span class="dot"></span>
      </div>
      <div class="text">
        <span>Available for remote work</span>
        <span class="dot"></span>
        <span>Frontend Developer</span>
        <span class="dot"></span>
        <span>Based in Freiberg</span>
        <span class="dot"></span>
        <span>Open to work</span>
        <span class="dot"></span>
      </div>
    </div>
  </footer> -->
  <div class="right-lateral">
    <a href="mailto:christian.kaden.dev@gmail.com"
      >christian.kaden.dev&#64;gmail.com</a
    >
    <div>
      <a href=""></a>
      <a href=""></a>
    </div>
  </div>
</section>
