<section>
  <div class="skill-article">
    <h3>Technologies</h3>
    <article>
      <h1>Skill Set</h1>
      <div class="skill-description">
        <p>
          My journey has involved working on diverse projects, employing a range
          of frontend technologies and concepts. I am open to embracing new
          technologies and methodologies to Continously enhance my skills and
          stay ahead in the ever-evolving landscape of web development.
        </p>
        <div>
          <h2>You need <span>another skill?</span></h2>
          <p>
            Feel free to contact me. I look forward to expanding on my previous
            knowledge.
          </p>
        </div>
      </div>
      <div>
        <button>
          <span>Let's Talk</span>
        </button>
      </div>
    </article>
  </div>
  <div>
    <div class="skill-list">
      <div>
        <img src="./../../../assets/img/skills-HTML.svg" alt="" />
        <span>HTML</span>
      </div>
      <div>
        <img src="./../../../assets/img/skills-CSS.svg" alt="" />
        <span>CSS</span>
      </div>
      <div>
        <img src="./../../../assets/img/skills-JavaScript.svg" alt="" />
        <span>JavaScript</span>
      </div>
      <div>
        <img src="./../../../assets/img/skills-Material-Design.svg" alt="" />
        <span>Material Design</span>
      </div>
      <div>
        <img src="./../../../assets/img/skills-TypeScript.svg" alt="" />
        <span>TypeScript</span>
      </div>
      <div>
        <img src="./../../../assets/img/skills-Angular.svg" alt="" />
        <span>Angular</span>
      </div>
      <div>
        <img src="./../../../assets/img/skills-Firebase.svg" alt="" />
        <span>Firebase</span>
      </div>
      <div>
        <img src="./../../../assets/img/skills-Git.svg" alt="" />
        <span>GIT</span>
      </div>
      <div>
        <img src="./../../../assets/img/skills-Rest-Api.svg" alt="" />
        <span>Rest-Api</span>
      </div>
      <div>
        <img src="./../../../assets/img/skills-Scrum.svg" alt="" />
        <span>Scrum</span>
      </div>
      <div class="skill-interest">
        <img src="./../../../assets/img/skills-Growth-Mindset.svg" alt="" />
        <span>Growth mindset</span>
        <img
          class="interest"
          src="./../../../assets/img/skills-Interest.svg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
