<section>
  <div class="quotes">
    <img src="./../../../assets/img/references-quotes.svg" alt="" />
  </div>
  <main>
    <h1>What my colleagues say about me</h1>
    <div class="container-section">
      <div class="container">
        <p>
          Christian has proven to be a reliable group partner. His technical
          skills and proactive approach were crucial to the success of our
          project.
        </p>
        <div class="source">
          <div></div>
          <span>H.Janisch - Team Partner</span>
        </div>
      </div>
    </div>
    <nav></nav>
  </main>
</section>
