.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
  margin-top: 144px;
}

section {
  position: relative;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  position: relative;
  width: 100%;
  // height: 460px;
  // height: 100%;
  > h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 41.98px;
    color: #3dcfb6;
    text-align: center;
    margin: 0 72px;
  }
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  height: 278px;
  overflow: hidden;
}

.card {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 178px;
  width: 552px;
  border-radius: 32px;
  padding: 48px 40px;
  border: 1px solid #3dcfb6;
  background: #3dcfb64d;
  transition: all 0.5s ease;
  transform: scale(0.7);
  > p {
    font-family: "Karla-Regular";
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    color: #ffffff;
    flex-grow: 1;
  }
}

.source {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  > div {
    width: 100%;
    border: 1px solid #ffffff;
  }
  > span {
    font-family: "Karla-Regular";
    font-size: 18px;
    line-height: 21.6px;
    text-align: left;
    color: #ffffff;
    white-space: nowrap;
  }
}

.card.active {
  opacity: 1;
  transform: scale(1) translateX(0);
  z-index: 2;
}

.card.left {
  transform: scale(0.7) translateX(-130%);
  opacity: 0.5;
  z-index: 1;
  background: #3dcfb61a;
}

.card.right {
  transform: scale(0.7) translateX(130%);
  opacity: 0.5;
  z-index: 1;
  background: #3dcfb61a;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.right {
  transform: scaleX(-1);
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  > img {
    width: 40px;
    height: 40px;
  }
  > .btn-arrow-hover {
    display: none;
  }
  &:hover .btn-arrow {
    display: none;
  }
  &:hover .btn-arrow-hover {
    display: inline-block;
    cursor: pointer;
  }
}

.dots {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.dots span {
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.dots span.active {
  background-color: #3dcfb6;
}

.quotes {
  position: absolute;
  transform: translate(-350%, 120%);
  z-index: 5;
}

.shadow-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  pointer-events: none;
  background: linear-gradient(
    90deg,
    rgba(28, 28, 28, 1) 0%,
    rgba(28, 28, 28, 0) 15%,
    rgba(28, 28, 28, 0) 85%,
    rgba(28, 28, 28, 1) 100%
  );
}

@media (max-width: 1200px) {
  .shadow-wrapper {
    background: linear-gradient(
      90deg,
      rgba(28, 28, 28, 1) 0%,
      rgba(28, 28, 28, 0) 10%,
      rgba(28, 28, 28, 0) 90%,
      rgba(28, 28, 28, 1) 100%
    );
  }
}

@media (max-width: 750px) {
  .shadow-wrapper {
    display: none;
  }

  main {
    > h1 {
      margin: 0 32px;
    }
  }

  .cards-container {
    height: 362px;
  }

  .card {
    height: 280px;
    width: 278px;
    padding: 40px;
    > p {
      font-size: 18px;
      line-height: 21.6px;
      justify-self: center;
    }
    > div {
      > span {
        font-size: 16px;
        line-height: 19.2px;
      }
    }
  }

  .card.left {
    transform: scale(0.7) translateX(-135%);
  }

  .card.right {
    transform: scale(0.7) translateX(135%);
  }

  .quotes {
    transform: translate(-200%, 120%);
  }
}

@media (max-width: 659px) {
  .quotes {
    transform: translate(-200%, 180%);
  }
}

@media (max-width: 450px) {
  .card.left {
    transform: scale(0.7) translateX(-125%);
  }

  .card.right {
    transform: scale(0.7) translateX(125%);
  }

  .quotes {
    transform: translate(-220%, 200%);
    > img {
      height: 48px;
    }
  }
}

@media (max-width: 410px) {
  .quotes {
    transform: translate(-220%, 270%);
  }
}

@media (max-width: 400px) {
  .card {
    width: 65%;
  }

  .quotes {
    transform: translate(-175%, 270%);
  }

  .source {
    justify-content: center;
    > div {
      display: none;
    }
    > span {
      text-align: center;
      white-space: inherit;
    }
  }
}

@media (max-width: 320px) {
  .quotes {
    transform: translate(-150%, 270%);
  }
}
