<header>
  <nav>
    <section>
      <button class="btn-en">EN</button>
      <button class="btn-de">DE</button>
    </section>
    <div>
      <a>
        <!-- (click)="toggleRadio()" -->
        About me
        <span class="radio-button">
          <!-- *ngIf="isChecked" -->
        </span>
      </a>
      <a>
        Skills
        <span class="radio-button"></span>
      </a>
      <a>
        Projects
        <span class="radio-button"></span>
      </a>
    </div>
  </nav>
  <div>
    <img src="" alt="" />
    <div>
      <span>Christian</span>
      <span>Kaden</span>
    </div>
  </div>
</header>
