<footer>
  <section>
    <div class="logo-section">
      <div class="logo">
        <h1>CK</h1>
        <div class="logo-text">
          <span>CHRISTIAN</span>
          <span>KADEN</span>
        </div>
      </div>
      <div class="info">
        <span>Web Developer</span>
        <span>Freiberg Germany</span>
      </div>
    </div>
    <span class="name media-disable">© Christian Kaden 2024</span>
    <ul>
      <li>
        <a href=""><span class="radio-button"></span>Github</a>
      </li>
      <li>
        <a href=""><span class="radio-button"></span>LinkedIn</a>
      </li>
      <li>
        <a href=""><span class="radio-button"></span>Email</a>
      </li>
      <li>
        <a href=""><span class="radio-button"></span>Legal Notice</a>
      </li>
    </ul>
  </section>
  <span class="name media">© Christian Kaden 2024</span>
</footer>
